body {
  padding: 20px;
}

body, h1, h2, h3 {
  background-color: black;
  color: orange;
  font-family: 'Arial Rounded MT Bold'
}
#comming-up {
  float: right;
  width: 50%;
}
#current {
  float: left;
  width: 50%;
}

h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

h2 {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 20px;
}

#songs h1 {
  font-size: 1.2em;
}

#songs h2 {
  font-size: 1em;
}
